/* You can add global styles to this file, and also import other style files */
.header-menu {
  .active {
    background: linear-gradient(-45deg, #225e9e 0%, #712c69 100%);
  }
}

.tree-menu {
  nz-list-item {
    display: flex;
    flex-direction: column;
  }
  nz-list-item-meta, app-tree-menu {
    width: 100%;
  }
}

.bg-success{
  background-color: #87d068;
}
.bg-Warning {
  background-color: #f50;
}
.bg-info {
  background-color: #2db7f5;
}
