<div #dsf>
  <sf #sf [schema]="schema" [formData]="formData" [ui]="ui" [layout]="layout" (formSubmit)="submit($event)" (formChange)="change($event)"
  (formError)="error($event)" [button]="null" firstVisual="true">
  <div class="operation">
    <div *ngIf="edit">
      <button nzShape="circle" type="submit" nz-button [disabled]="!sf.valid" nzType="primary" style="background-color: #87d068">保存</button>
      <button nzShape="circle" (click)="cancel()" type="button" nz-button>取消</button>
      <button nzShape="circle" type="button" nz-button (click)="r()" >重置</button>
    </div>
    <div *ngIf="!edit">
      <button nzShape="circle" type="submit" nzType="primary" nz-button (click)="add()">添加</button>
      <button nzShape="circle" type="submit" nzType="primary" nz-button (click)="update()" style="background-color: #2db7f5">修改</button>
      <button nzShape="circle" type="button" nz-button (click)="delete()" style="background-color: #f50">删除</button>
      <button nzShape="circle" type="button" nz-button (click)="r()" >重置</button>
    </div>
  </div>
</sf>
</div>
